@charset "utf-8";

.content-item > .form-item-box {
  position: relative;

  .color-item-form {
    min-width: 30px;
  }
  .color-btn-wrap {
    min-width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .color-btn {
      width: 18px;
      height: 18px;
      outline: none;
      border: none;
    }

    .delete-bgColor-btn {
      // visibility: hidden;
      display: none;
      margin-left: 10px;

      svg {
        height: 18px;
      }

      &:hover {
        color: red;
      }
    }

    &:hover {
      width: 70px;
    }

    &:hover .delete-bgColor-btn,
    .delete-bgColor-btn:hover {
      // visibility: visible;
      display: inline;
    }

    .arrow {
      width: 12px;
      height: 8px;
      margin-left: 5px;
      background: url('../../assets/img/arrow.png') no-repeat;
      background-size: 12px 8px;
    }

    &.selected {
      border-color: rgba(44, 99, 255, 1);

      .arrow {
        background: url('../../assets/img/up.png') no-repeat;
        background-size: 12px 8px;
      }
    }
  }

  .color-picker-container {
    position: absolute;
    top: 40px;
    left: -65px;
    z-index: 20;

    .color-sketch-picker {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2000;
      background-color: #fff;
    }

    .color-picker-bg {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1999;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
}
