@charset "utf-8";

.text-editor-box {
  position: relative;

  .element-title {
    cursor: pointer;

    > .close-operate-btn {
      margin-right: 0 !important;
    }
  }

  .content-item {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .bf-container {
      width: 100%;
    }

    .bf-controlbar {
      // height: 100px;
      // overflow-y: auto;
    }

    .bf-content {
      height: auto;
      max-height: 300px;
      padding-bottom: 10px;
      overflow: auto;
      font-size: 16px;
    }
  }

  .content-item.closed {
    padding: 0;
    height: 46px;
    box-sizing: border-box;
    overflow: hidden;
  }
}
