@charset "utf-8";

.select-box {
  .ant-select-single {
    min-width: 150px;
  }

  .ant-select-selection-item {
    max-width: 120px;
  }

  .ant-select-selection-item-content {
    max-width: 100px;
  }
}
