@charset "utf-8";

.remote-dynamic-data-schema {
  transition: 0.4s;
  position: relative;

  .dynamic-data-select,
  .data-route-select {
    display: block;
    width: 100%;
  }

  .warning-text {
    color: #fa8c16;
  }

  .filter-func-box {
    padding: 0;
  }
}

.remote-dynamic-data-schema.json-view {
  padding: 0;
  transition: 0.4s;
}

.remote-dynamic-data-schema.closed {
  padding: 0;
  height: 0;
  overflow: hidden;
}
