@charset "utf-8";

.object-schema-warp {
  .object-content.json-view-array {
    padding: 0;
  }

  .element-title {
    display: block;
    width: 100%;

    .display-source-btn {
      display: inline-block;
      line-height: 0;
      float: right;
      cursor: pointer;

      svg {
        width: 20px;
        color: #676767;
      }

      svg:hover {
        color: #1890ff;
      }
    }
  }
}
