.Style-PaddingAndMargin {
  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Style-select {
      width: 100%;
    }
  }
  &-input {
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-left: 4px;
    min-width: 0;

    &-label {
      font-size: 12px;
      line-height: 20px;
      color: #5c5f66;
      text-align: center;
    }
  }

  &-label {
    border-radius: 4px;
    overflow: hidden;
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    cursor: pointer;

    &-all {
      background: #f7f7f9;
      height: 32px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;

      &:before {
        content: '';
        height: 11px;
        width: 11px;
        display: block;
        border: 2px solid #5c5f66;
        border-radius: 2px;
      }
    }

    &-custom {
      background: #f7f7f9;
      height: 32px;
      width: 32px;
      position: relative;
      border-left: 1px solid #e8e9eb;

      > div {
        height: 14px;
        width: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:before,
        &:after {
          position: absolute;
          content: '';
          display: block;
          background: #5c5f66;
          height: 2px;
          width: 2px;
          border-radius: 1px;
        }
      }

      > div:first-child {
        &:before {
          width: 8px;
          top: 0;
          left: 3px;
        }
        &:after {
          height: 8px;
          top: 3px;
          left: 0;
        }
      }

      > div:last-child {
        &:before {
          width: 8px;
          bottom: 0;
          left: 3px;
        }
        &:after {
          height: 8px;
          bottom: 3px;
          right: 0;
        }
      }
    }

    &-all--active {
      &:before {
        border-color: #2468f2;
      }
    }

    &-custom--active > div {
      &:before,
      &:after {
        background-color: #2468f2;
      }
    }
  }

  &-label--custom {
    width: 64px;
  }

  &-custom {
    height: 132px;
    width: 256px;
    margin: 0 auto;
    margin-top: 8px;
    background: url('../../assets/img/boxStyle.svg');
    position: relative;

    &::before,
    &::after {
      font-size: 12px;
      color: #151b26;
      font-weight: 400;
      position: absolute;
      transform: scale(0.8);
    }

    & > div {
      font-size: 12px;
      color: #5c5f66;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      cursor: pointer;
      word-wrap: break-word;
      line-height: 16px;
      min-width: 40px;
      min-height: 14px;
      border: 1px solid transparent;

      div {
        transform: scale(0.8);
        transform-origin: left;
      }

      &:hover {
        color: #2468f2;
        border-color: #2468f2;
        border-radius: 2px;
      }
    }

    &-marginTop {
      top: 4px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-marginBottom {
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-marginLeft {
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }

    &-marginRight {
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }

    &-paddingTop {
      top: 34px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-paddingBottom {
      bottom: 34px;
      left: 50%;
      transform: translateX(-50%);
    }

    &-paddingLeft {
      left: 60px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }

    &-paddingRight {
      right: 60px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
    }

    .Style-PaddingAndMargin-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-popover {
      padding: 16px 12px;
      width: 200px;
      .cxd-Form-item {
        margin-bottom: 0;
      }
    }
  }

  &-custom--padding {
    &::after {
      content: '内边距';
      top: 28px;
      left: 56px;
    }
  }

  &-custom--margin {
    &::before {
      content: '外边距';
      top: 0;
      left: 2px;
    }
  }
}

.layout-item-padding,
.layout-item-margin {
  .ant-input-wrapper {
    position: relative;
    // flex: 1 0 32px;
    //border: 1px solid #e8e9eb;
    //border-radius: 4px;
    height: 32px;
    // padding: 0 8px;
    display: flex;
    align-items: stretch;
    background-color: #fff;
  }

  .ant-select-selector {
    padding: 0 8px !important;
  }

  .ant-input-group-addon {
    display: flex;
    align-items: center;
    width: 55px;
  }
}
