@charset "utf-8";

.json-view-box {
  position: relative;

  .json-view-ace {
    width: 100%;
  }

  .readOnly-btn {
    position: absolute;
    top: 0;
    right: 8px;
    color: #ad6800;
    z-index: 100;
  }
}
