@charset "utf-8";

.array-content {
  position: relative;
  padding: 8px 15px 20px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  // 覆盖antd的默认样式
  .ant-collapse-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .array-item-box {
    position: relative;
  }

  .delete-operate-btn {
    svg {
      margin: 2px;
      width: 16px;
      height: 16px;
      color: #676767;
    }

    svg:hover {
      color: #f5222d;
    }
  }
}

.array-content.json-view-array {
  padding: 0;
}

.element-title {
  display: block;
  width: 100%;

  .add-operate-btn,
  .display-source-btn {
    display: inline-block;
    line-height: 0;
    float: right;
    margin: 9px 12px 0 0;
  }

  .display-source-btn {
    cursor: pointer;

    svg {
      width: 20px;
      color: #676767;
    }

    svg:hover {
      color: #1890ff;
    }
  }

  .add-operate-btn:hover {
    color: #1890ff;
  }
}

.array-operate-btn {
  cursor: pointer;
  color: #8c8c8c;

  svg {
    width: 20px;
    height: 20px;
  }
}
